body
  padding-top 60px
  padding-bottom 40px

h1 span
  color #555
  font-size 16px
  font-weight normal
  margin-left 5px

.quick-links
  min-height 30px
  padding 5px 20px
  list-style none
  overflow hidden

  li
    display inline
    margin 0 8px

  .github-btn, .tweet-btn, .follow-btn
    position relative
    top 5px

#app
  position relative
  height 780px

.user_input
  position relative

pre
  padding 0


.editor_pane
  position absolute
  top 25px
  width 47%
  height 740px
  border 2px solid hsl(0, 0%, 60%)
  -webkit-border-radius 4px
  -moz-border-radius 4px
  border-radius 4px
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box
  -webkit-box-flex 1
  -moz-box-flex 1
  -ms-box-flex 1
  box-flex 1

#editor
  right 0
  bottom 0
  left 25px
  -webkit-box-shadow 0 0 80px hsla(0, 0%, 0%, 0.30) inset 0 0 5px hsla(0, 0%, 0%, 0.60)
  -moz-box-shadow 0 0 80px rgba(0,0,0,0.30) inset 0 0 5px rgba(0,0,0,0.60)
  box-shadow 0 0 80px hsla(0, 0%, 0%, 0.30) inset 0 0 5px hsla(0, 0%, 0%, 0.60)
  background-color #272822

#preview
  right 25px
  padding 20px
  background lemonChiffon url(data:image/png\;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAHElEQVQIW2P8/HrTfwYcgBEkySvqx4hNftBJAgALnRuXuT9owgAAAABJRU5ErkJggg==)
  overflow auto

  pre, code
    padding 2px 4px
    color hsl(345, 86%, 47%)
    background-color white
    border 1px solid hsl(240, 3%, 70)

  pre code
    background transparent
    border 0

  hr
    height 0
    border 2px solid #FF8500

  blockquote
    border-color hsl(43, 37%, 52%)

#html_result
  font-family Menlo, Monaco, Consolas, "Courier New", monospace

.hidden
  display none

footer
  margin-top 60px

// improve markdown syntax highlight for monokai ace theme
.ace-monokai .ace_markup.ace_list
  color #E6DB74

.ace-monokai .ace_markup.ace_heading
  color #79ABFF

.ace-monokai .ace_marker-layer .ace_selection
  background #5E5E55
  border-radius 3px

.ace-monokai.multiselect .ace_selection.start
  box-shadow 0 0 3px 0px white
  border-radius 3px
