!!!5
head
  title Demo Darkmown
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js')
  script(src='darkmown.js')
  script(src='demo.js')
  link(href='demo.css', rel='stylesheet')

  body
    div.col
      h2 Markdown syntax
      textarea#user_input
        | # Welcome #

        | Titles like `<h1>` to `<h6>` only render with the # syntax for consistency (no equals nor dashes)

        | ## Subtitle

        | **Darkmown** is a full-featured Markdown library written in CoffeeScript.

        | ## Full control over your documents

        | Want to make something **bold**?

        | How about *italic*?

        | > Write a quote with &gt;

        | ## See your changes instantly

        | Every time you press a key on the left `<textarea>` you can see the results

        | ## Links
        | Urls with Markdown syntax [google](http://google.com)\n
        | Auto-urls by Darkmown, just type any url starting with www or http:// and it automatically generates a link
        | www.google.com

        | ## Emails
        | Darkmown recognize when you type an email
        | Just type the email asd@asd.com and boila (it's encoded for a bit of security)

        | ## Images

        | ![AngryBirds](http://www.rw-designer.com/icon-view/6144.png)

        | ## Unordered list
        | - list
        |   - [linked item](www.google.com)
        |     - list3
        |       - list4

        | ## Ordered list
        | 1. uno
        | 2. dos

        | ## Horizontal rules
        | * * *

    div.col
      h2 Live preview
      div#result

    div.col
      h2 HTML
      textarea#html_result