body
  background-color #ccc

h1
  color #000
  margin 20px 0 0 40px

  span
    color #555
    font-size 16px
    font-weight normal
    margin-left 5px

.quick-links
  list-style none
  overflow hidden
  padding 0
  margin 10px 0 0 40px

  li
    float left

.col
  width 28%
  float left
  padding 2%

  h1
    color #333
    border-bottom 2px solid #666
    margin-left 0

  h2
    color #333
    border-bottom 1px solid #666

textarea
  height 450px
  padding 1%
  width 97%
  border 2px solid #666

blockquote
  color #666
  border 1px solid #999
  border-radius 4px
  padding-left 30px
  font-family cursive
