!!!5
title Demo Darkmown

link(href='css/bootstrap.min.css', rel='stylesheet')
link(href='css/demo.css', rel='stylesheet')

script
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24098807-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href='index.html') Darkmown
      .nav-collapse
        ul.nav
          li
            a(href='index.html') Home
          li.active
            a(href='demo.html') Live Demo

        ul.nav.pull-right
          li.dropdown
            a(href='#', class="dropdown-toggle", data-toggle='dropdown') Choose preview <b class="caret"></b>
            ul.dropdown-menu#select_preview
              li
                a(href='#', data-show='live_preview', data-hide='html_preview') Live preview
              li
                a(href='#', data-show='html_preview', data-hide='live_preview') HTML preview

#app
  .user_input
    #editor.editor_pane.
      # Darkmown live demo

      ## Syntax consistency

      * Titles like `&lt;h1&gt;` to `&lt;h6&gt;` only render with the # syntax
      * Urls are auto-linked no need to wrap them like this `&lt;url&gt;`
      * The same for emails

      ## About

      **Darkmown** is a full-featured Markdown library written in CoffeeScript.

      ## Text style
      Want to make something **bold**?
      How about *italic*?

      &gt; Write a quote with &gt;

      ## See your changes instantly

      Every time you edit the file on the left you can see the results

      ## Links

      Urls with Markdown syntax [google](http://google.com)

      Auto-urls by Darkmown, just type any url starting with www or http:// and it automatically generates a link www.google.com

      ## Emails

      Darkmown recognize when you type an email
      Just type the email asd@asd.com and boila
      it's encoded for a bit of security

      ## Code tags

          &lt;div class="sample"&gt;
            &lt;p&gt;Sample code tag&lt;/p&gt;
          &lt;/div&gt;

      ## Images

      ![AngryBirds](http://www.rw-designer.com/icon-view/6144.png)

      ## Unordered list

      - list
        - [linked item](www.google.com)
        - list3
          - list4

      ## Ordered list
      1. uno
      2. dos

      ## Horizontal rules

      * * *


  #preview.editor_pane
    #live_preview
      #rendered_result

    #html_preview.hidden
      #html_result

.container
  footer
    hr
    p Created by Denis Ciccale (<a href='http://twitter.com/tdecs'>@tdecs</a>) and hosted on GitHub under MIT license.


script(src='http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js')
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
script(src='js/demo.js')
