!!!5
title Demo Darkmown
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js')
link(href='css/bootstrap.css', rel='stylesheet')
link(href='css/demo.css', rel='stylesheet')

a(href="https://github.com/dciccale/darkmown")
  img(style="position: fixed; top: 0; right: 0; border: 0; z-index: 1031;", src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", alt="Fork me on GitHub")

.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href='index.html') Darkmown
      .nav-collapse
        ul.nav
          li.active
            a(href='index.html') Home
          li
            a(href='demo.html') Live Demo

.container

  .hero-unit
    h1 Darkmown
    p Darkmown is a full-featured CoffeeScript port of Markdown. Adding extra features, normalizing syntax and fixing some bugs present on other js implementations.
    p
      a.btn.btn-primary.btn-large(href='demo.html') Live Demo &raquo;

  .row
    .span4
      h2 Normalized syntax
      p Consistency is better.
      ul
        li Only use # for titles from <code>&lt;h1&gt;</code> to <code>&lt;h6&gt;</code>
        li No need to &lt;wrap&gt; urls
        li No need to &lt;wrap&gt; emails
      p
        a.btn(href='demo.html') See demo &raquo;
    .span4
      h2 Extra Features
      p Nice features Darkmown has:
      ul
        li Auto-linked urls
        li Auto-linked emails
        li More to come :)
      p
        a.btn(href='demo.html') See demo &raquo;
    .span4
      h2 Fixed bugs
      p Almost every js Markdown parser out there have bugs when mixing normal syntax with features like auto-link.
      p Darkmown corrects all these bugs.
      //-
        p
          a.btn(href='demo.html') See bugs page &raquo;

  footer
    hr
    p Created by Denis Ciccale (<a href='http://twitter.com/tdecs'>@tdecs</a>) and hosted on GitHub under MIT license.