!!!5
title Demo Darkmown
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js')
link(href='css/bootstrap.min.css', rel='stylesheet')
link(href='css/demo.css', rel='stylesheet')
script
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24098807-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

a(href="https://github.com/dciccale/darkmown")
  img(style="position: fixed; top: 0; right: 0; border: 0; z-index: 1031;", src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", alt="Fork me on GitHub")

.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href='index.html') Darkmown
      .nav-collapse
        ul.nav
          li.active
            a(href='index.html') Home
          li
            a(href='demo.html') Live Demo

.container

  .hero-unit
    h1 Darkmown
    p Darkmown is a full-featured CoffeeScript port of Markdown. Adding extra features, normalizing syntax and fixing some bugs present on other js implementations.
    p
      a.btn.btn-primary.btn-large(href='demo.html') Live Demo &raquo;

  //-
    ul.quick-links
      li
        iframe.github-btn(width="112", scrolling="0", height="20", frameborder="0", allowtransparency="true", src="http://markdotto.github.com/github-buttons/github-btn.html?user=dciccale&amp;repo=darkmown&amp;type=watch&amp;count=true")
      li
        iframe.github-btn(width='98', scrolling='0', height='20', frameborder='0', allowtransparency='true', src='http://markdotto.github.com/github-buttons/github-btn.html?user=dciccale&amp;repo=darkmown&amp;type=fork&amp;count=true')
      li.follow-btn
        iframe.twitter-follow-button(scrolling='no', frameborder='0', allowtransparency='true', src='http://platform.twitter.com/widgets/follow_button.1334389481.html#_=1334747041437&amp;id=twitter-widget-2&amp;lang=en&amp;screen_name=tdecs&amp;show_count=true&amp;show_screen_name=true&amp;size=m', style='width: 240px; height: 20px;', title='Twitter Follow Button')
      li.tweet-btn
        iframe.twitter-share-button.twitter-count-horizontal(scrolling='no', frameborder='0', allowtransparency='true', src='http://platform.twitter.com/widgets/tweet_button.1334389481.html#_=1334747041430&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fdciccale.github.com%2Fdarkmown&amp;size=m&amp;text=Darkmown%20an%20amazing%20CoffeeScript%20port%20of%20Markdown&amp;url=http%3A%2F%2Fdciccale.github.com%2Fdarkmown&amp;via=tdecs', style='width: 109px; height: 20px;', title='Twitter Tweet Button')


  .row
    .span4
      h2 Normalized syntax
      p Consistency is better.
      ul
        li Only use # for titles from <code>&lt;h1&gt;</code> to <code>&lt;h6&gt;</code>
        li No need to &lt;wrap&gt; urls
        li No need to &lt;wrap&gt; emails
      p
        a.btn(href='demo.html') See demo &raquo;
    .span4
      h2 Extra Features
      p Nice features Darkmown has:
      ul
        li Auto-linked urls
        li Auto-linked emails
        li More to come :)
      p
        a.btn(href='demo.html') See demo &raquo;
    .span4
      h2 Fixed bugs
      p Almost every js Markdown parser out there have bugs when mixing normal syntax with features like auto-link.
      p Darkmown corrects all these bugs.
      //-
        p
          a.btn(href='demo.html') See bugs page &raquo;

  footer
    hr
    p Created by Denis Ciccale (<a href='http://twitter.com/tdecs'>@tdecs</a>) and hosted on GitHub under MIT license.